{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<div class="row">
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-10 well well-sm">
        <div class="h4" style="text-transform: uppercase">
          <strong>{{user_logged_in.username}}</strong><br>
        </div>
        <div>
          {{forms.edit_link("#{base_path}/player/#{user_logged_in.id}/edit")}}
          {{forms.destroy_button("#{base_path}/player/#{user_logged_in.id}/destroy")}}
        </div>
        <div>
          {{user_logged_in.name}}
        </div>
        {% if not user_logged_in.course.name is empty %}
          <div>
            <a href="{{base_path}}/course/{{user_logged_in.course.id}}">{{user_logged_in.course.name}}</a>
          </div>
        {% endif %}
      </div>
      <div class="col-sm-10 well well-sm">
        <dl>
          <dt>
            Liittynyt
          </dt>
          <dl>
            {{user_logged_in.joined|date("d.m.Y H:i", "Europe/Helsinki")}}
          </dl>
          <dt>
            Kirjautunut
          </dt>
          <dl>
            {{user_logged_in.login|date("d.m.Y H:i", "Europe/Helsinki")}}
          </dl>
          <dt>
            Moderoitavat
          </dt>
          <dl>
            {% for c in user_logged_in.moderator %}
            <a href="{{base_path}}/course/{{c.id}}">{{ c.name }}</a>{% if not loop.last %}<br>{% endif %}
            {% endfor %}
          </dl>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <table class="table table-condensed table-hover">
      <thead>
        <th class="col-sm-2">
          Pelattu
        </th>
        <th class="col-sm-2">
          Rata
        </th>
        <th class="col-sm-2">
          Pelaajia
        </th>
        <th class="col-sm-2">
          Oma tulos
        </th>
        <th class="col-sm-2">
          Paras tulos
        </th>
        <th class="col-sm-2">
          Keskiarvo
        </th>
      </thead>
      <tbody>
        {% for score in scores %}
        <tr>

          <td>
            <a href="{{base_path}}/round/{{score.round.id}}">{{score.round.played|date("d.m.y H:i", "Europe/Helsinki")}}</a>
          </td>
          <td>
            <a href="{{base_path}}/course/{{score.round.course.id}}">{{score.round.course.name}}</a>
          </td>
          <td>
            {{score.round.players}}
          </td>
          <td>
            {{score.throws}} ({{score.throws-score.par}})
          </td>
          <td>
            {{score.round.best}} ({{score.round.best-score.round.par}})
          </td>
          <td>
            {{score.round.average}}
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <!-- <tfoot>
        <tr>
          <td>
            <strong>
            Yht.
            </strong>
          </td>
          <td>
            <strong>
            13 (-4)
            </strong>
          </td>
          <td>
            <strong>
            25 (+8)
            </strong>
          </td>
          <td>
            <strong>
            {{average}}
            </strong>
          </td>
        </tr>
      </tfoot> -->
    </table>
  </div>
</div>





{% endblock %}
