{% extends "base.html" %}
{% block content %}

<form method="post" action="{{base_path}}/course/{{course.id}}/edit" class="col-md-offset-1 col-md-10 col-sm-offset-0 col-sm-12">
   <div class="form-group">
     <label>Radan nimi</label>
     <input name="name" class="form-control" type="text" value="{{course.name}}">
   </div>

   <div class="form-group">
     <label>Kuvaus</label>
     <textarea name="description" class="form-control">{{course.description}}</textarea>
   </div>

   <div class="form-group">
     <label>Osoite</label>
     <input name="address" class="form-control" type="text" value="{{course.address}}">
   </div>

   <div class="form-group">
     <label>Karttalinkki</label>
     <input name="mapLink" class="form-control" type="text" value="{{course.mapLink}}">
   </div>

   <div class="form-group">
     <label>Ulkoinen linkki</label>
     <input name="url" class="form-control" type="text" value="{{course.url}}">
   </div>

   <!-- <div class="form-group">
     <div>
       <label>Väylien määrä</label>
       <input name="holes" class="form-control" type="number" value={{holes|length}}>
     </div>
   </div> -->
   <div class="form-grup">
     <div class="form-inline col-md-12">
       <lable class="col-md-2">Väylä</lable>
       <lable class="col-md-2">Nimi</lable>
       <lable class="col-md-2">Par</lable>
     </div>
   </div>
   {% for hole in holes %}
   <div class="form-group">
     <div class="form-inline col-md-12">
       <label class="col-md-1 col-xs-3">{{hole.holenumber}}</label>
       <input class="col-md-3 col-xs-6" name="{{hole.holenumber}}_name" type="text" value="{{hole.name}}">
       <input class="col-md-1 col-xs-3" name="{{hole.holenumber}}_par" type="number" value="{{hole.par}}">
     </div>
   </div>
   {% endfor %}

   <div class="form-group">
     <button type="submit" class="btn btn-primary">Tallenna</button>
   </div>
 </form>

{% endblock %}
