{% extends "base.html" %}
{% block content %}
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>
          Aikaleima
        </th>
        <th>
          Rata
        </th>
        <th>
          Heittäjien lukumäärä
        </th>
        <th>
          Paras tulos
        </th>
        <th>
          Lisääjä
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          10.11.2015 12.01
        </td>
        <td>
          Kivikon frisbeegolfrata
        </td>
        <td>
          1
        </td>
        <td>
          78 (+20)
        </td>
        <td>
          barry
        </td>
      </tr>
      <tr>
        <td>
          18.11.2015 12.01
        </td>
        <td>
          Kivikon frisbeegolfrata
        </td>
        <td>
          1
        </td>
        <td>
          78 (+20)
        </td>
        <td>
          barry
        </td>
      </tr>
      <tr>
        <td>
          20.11.2015 12.01
        </td>
        <td>
          Siltamäki
        </td>
        <td>
          1
        </td>
        <td>
          78 (+20)
        </td>
        <td>
          barry
        </td>
      </tr>
      <tr>
        <td>
          22.11.2015 12.01
        </td>
        <td>
          Kivikon frisbeegolfrata
        </td>
        <td>
          1
        </td>
        <td>
          78 (+20)
        </td>
        <td>
          barry
        </td>
      </tr>
      <tr>
        <td>
          10.12.2015 12.01
        </td>
        <td>
          Talin frisbeegolfpuisto
        </td>
        <td>
          3
        </td>
        <td>
          60 (+2)
        </td>
        <td>
          jbauer
        </td>
      </tr>
      <tr>
        <td>
          12.12.2015 12.01
        </td>
        <td>
          Talin frisbeegolfpuisto
        </td>
        <td>
          3
        </td>
        <td>
          61 (+3)
        </td>
        <td>
          average
        </td>
      </tr>
      <tr>
        <td>
          21.12.2015 12.01
        </td>
        <td>
          Kivikon frisbeegolfrata
        </td>
        <td>
          3
        </td>
        <td>
          55 (-3)
        </td>
        <td>
          jbauer
        </td>
      </tr>
      <tr>
        <td>
          22.12.2015 12.01
        </td>
        <td>
          Talin frisbeegolfpuisto
        </td>
        <td>
          1
        </td>
        <td>
          78 (+20)
        </td>
        <td>
          barry
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}
