{% extends "base.html" %}
{% block content %}
  <div class="col-xs-offset-0 col-xs-sm-12 col-md-offset-11 col-md-1">
    {% if user_logged_in %}
    <a href="{{base_path}}/round/new" class="btn btn-sm btn-default">Lisää kierros</a>
    {% endif %}
  </div>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Lisätty</th>
        <th>Pelattu</th>
        <th>Rata</th>
        <th>Pelaajia</th>
        <th>Par</th>
        <th>Paras</th>
        <th>Keskiarvo</th>
      </tr>
    </thead>
    <tbody>
      {% for round in rounds %}
        <tr>
          <td><a href="{{base_path}}/round/{{round.id}}">{{round.added|date("d.m.y", "Europe/Helsinki")}}</a></td>
          <td><a href="{{base_path}}/round/{{round.id}}">{{round.played|date("d.m.y", "Europe/Helsinki")}}</a></td>
          <td><a href="{{base_path}}/course/{{round.courseId}}">{{round.courseName}}</a></td>
          <td>{{round.players}}</td>
          <td>{{round.par}}</td>
          <td>{{round.best}} ({{round.best - round.par}})</td>
          <td>{{round.average}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
