{% extends "base.html" %}
{% block content %}

<form method="post" action="{{base_path}}/round/new" class="col-md-offset-1 col-md-10 col-sm-offset-0 col-sm-12">
  <input type="hidden" name="continue" value="TRUE">
   <div class="form-group">
     <label>Valitse rata</label>
     <select name="course" class="form-control">
       {% for course in courses %}
       <option value="{{course.id}}"{% if course.id == selected %} selected="true"{% endif %}>{{course.name}}</option>
       {% endfor %}
     </select>
   </div>
   <div class ="form-group">
     <label>Pelin ajankohta</label>
     <input name="played" class="form-control" type="date" placeholder="dd/mm/yyyy" {% if attributes %}value="{{attributes.played}}"{% endif %}>
   </div>
   <div class="form-group">
     <label>Pelaajien määrä</label>
     <input name="numberOfPlayers" class="form-control" type="number"{% if attributes %}value="{{attributes.numberOfPlayers}}"{% endif %}>
   </div>
   <div class="form-group">
     <button type="submit" class="btn btn-primary">Lisää rata</button>
   </div>
 </form>

{% endblock %}
