{% extends "base.html" %} {% block content %}

<form method="post" action="{{base_path}}/round" class="col-md-offset-1 col-md-10 col-md-offset-0 col-md-12">
  <div class="form-group col-md-12 horizontal-nopadding">
    <label for="course" class="control-label col-md-2 round-edit-row">Rata</label>
    <div class="col-md-4">
      <input type="hidden" name="course_orig" value="{{course.id}}">
      <select name="course" class="col-md-12 round-edit-row" onchange="form.submit();">
        <option value="-1">
          Valitse rata
        </option>
        {% for c in courses %}
          <option value={{c.id}} {% if course.id == c.id %} selected="true" {% endif %}>
            {{c.name}}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group col-md-12 horizontal-nopadding">
    <label for="played" class="control-label col-md-2 round-edit-row">Pelin ajankohta</label>
    <div class="col-md-4">
       <input name="played" class="form-control" type="date" placeholder="dd/mm/yyyy" value="{{played}}">
    </div>
  </div>
  <div class="form-group col-md-12 horizontal-nopadding">
    <label for="numberOfPlayers" class="control-label col-md-2 round-edit-row">Pelaajien määrä</label>
    <div class="col-md-2">
      <input type="hidden" name="numberOfPlayers_orig" value="{{numberOfPlayers}}">
      <input type="number" name="numberOfPlayers" class="col-md-12" value="{{numberOfPlayers}}" onchange="form.submit();">
    </div>
  </div>
  <div class="form-group col-md-12 horizontal-nopadding">
    <div class="col-md-2 nopadding">
      <div class="col-md-12 nopadding round-edit-row">
        <label class="control-label col-md-12 round-edit-row"></label>
      </div>
      {% for h in holes %}
      <div class="col-md-12 nopadding round-edit-row">
        <label class="control-label col-md-12 round-edit-row">{% if h.name %}{{h.name}}{% else %}Väylä {{h.holenumber}}{% endif %} ({{h.holenumber}})</label>
      </div>
      {% endfor %}
    </div>
    <div class="form-group">
      {% for i in range(1, numberOfPlayers) %}
        {% set player = playerScores[i-1] %}
        <div class="col-md-{% if numberOfPlayers>5 %}1{% else %}2{% endif %} nopadding">
          <div class="col-md-12 nopadding round-edit-row">
            <select name="player_{{i}}" class="col-md-12 round-edit-row nopadding">
              <option value="-1">
                Ei käyttäjä
              </option>
              {% for p in players %}
                <option value="{{p.id}}" {% if player.player.id == p.id %}selected="true"{% endif %}>
                  {{p.name}}
                </option>
              {% endfor %}
            </select>
          </div>
          <!-- <div class="col-md-12 nopadding round-edit-row">
            <input type="text" name="{{s.id}}_name" class="col-md-12" placeholder="Nimi, jos ei käyttäjä" value="{{s.playerName}}">
          </div> -->
          {% for h in holes %}
            <div class="col-md-12 nopadding round-edit-row">
              <input type="number" class="col-md-12" name="p{{i}}_h{{h.holenumber}}" value="{{player.holes[h.holenumber-1]}}">
            </div>
          {% endfor %}
        </div>
      {% endfor %}
      <div class="form-group col-md-10 col-md-offset-2">
        <br>
        <button type="submit" class="btn btn-primary">Lähetä</button>
      </div>
    </div>
  </div>
</form>



{% endblock %}
